.mat-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: black 0px 0px 5px 1px;
}

.app-title {

   text-align: center;
}

.mat-icon {
  margin-right: 10px;
  margin-left: 50px;
  margin-top: 10px;
}
