<div class="navbar bg-primary">
  <div class="flex-1 ml-20">
    <a class="btn btn-ghost text-xl"><ng-icon name="featherHome"></ng-icon></a>
    <a class="btn btn-ghost text-xl"><ng-icon name="featherPlusCircle"></ng-icon></a>
  </div>
  <div class="flex-1">
    <p>The Game Bazaar</p>
  </div>
  <div class="flex-none mr-20">
      <a class="btn btn-ghost text-xl"><ng-icon name="featherLogIn"></ng-icon></a>
      <a class="btn btn-ghost text-xl"><ng-icon name="featherUser"></ng-icon></a>
  </div>
</div>
