<div class="navbar bg-gray-800">
  <div class="flex-1 ml-20">
    <a class="btn btn-ghost hover:bg-secondary text-xl"><ng-icon name="featherHome"></ng-icon></a>
    <a class="btn btn-ghost hover:bg-secondary text-xl"><ng-icon name="featherPlusCircle"></ng-icon></a>
  </div>
  <div class="flex-none mr-20">
      <a class="btn btn-ghost hover:bg-secondary text-xl"><ng-icon name="featherLogIn"></ng-icon></a>
      <a class="btn btn-ghost hover:bg-secondary text-xl"><ng-icon name="featherUser"></ng-icon></a>
  </div>
</div>
