<form (ngSubmit)="onSubmit()">
  <mat-card class="example-card">
    <mat-card-content>

      <mat-card-header>
        <mat-card-title>Log In</mat-card-title>
      </mat-card-header>

      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="auth.name" name="username">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="auth.password" name="password">
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-card-actions>
        <button type="submit" mat-raised-button color="primary">Log In</button>
        <span>
          You don't have an account?
          <a routerLink="/register">
            Sign Up here!
          </a>
        </span>
      </mat-card-actions>

    </mat-card-content>
  </mat-card>
</form>
