<div class="card bg-base-100 shadow-xl float-right my-5 mr-20 rounded-xl transform sm:w-2/4 md:w-3/5 lg:w-full w-2/4
            transition duration-300 ease-in-out hover:scale-110 hover:bg-gray-800 cursor-pointer">
  <div class="flex flex-col md:flex-row">
    <figure class="md:w-1/4">
      <img class="h-56 w-full object-contain rounded-t-xl md:rounded-l-xl md:rounded-t-none md:rounded-r-xl"
           src="http://localhost:8080/get-image/{{listing.imageId}}"
           alt="game"/>
    </figure>

    <div class="flex flex-col flex-1 p-6 md:justify-between">
      <div class="mb-4">
        <div class="flex justify-between">
          <h2 class="text-2xl md:text-xl lg:text-2xl font-bold">{{listing.title}}</h2>
          <div *ngIf="isUsersListing(listing.seller)" class="flex">
            <a
              class="listing-action text-lg btn btn-ghost btn-sm px-1.5"
              routerLink="/listing-edit/{{listing.id}}">
              <ng-icon name="featherEdit" ></ng-icon>
            </a>
            <span
              class="listing-action text-lg btn btn-ghost btn-sm px-1.5">
              <ng-icon name="featherTrash2" onclick="delete_dialog.showModal()"></ng-icon>
              <dialog id="delete_dialog" class="modal">
                <div class="modal-box">
                  <h3 class="font-bold text-lg text-center">Are you sure you want to delete this listing?</h3>
                  <div class="modal-action justify-center">
                    <form method="dialog">
                      <button class="btn btn-error mx-2">Cancel</button>
                    </form>
                    <button class="btn btn-success mx-2" (click)="deleteListing(listing.id)" onclick="delete_dialog.close()">Accept</button>
                  </div>
                </div>
              </dialog>
            </span>
          </div>
        </div>
        <div class="text-base md:text-md overflow-y-auto max-h-32">
          {{listing.description}}
        </div>
      </div>

    <div class="flex flex-col md:flex-row md:justify-between items-center">
        <div class="text-xl md:text-lg lg:text-xl mb-4 md:mb-0">
          <p class="font-bold">{{listing.price}}€</p>
          <a
            [routerLink]="['/listings','-','-','-',listing.seller]"
            (click)="searchBySeller(listing.seller)"
            class="btn btn-neutral btn-sm">
            {{listing.seller}}
          </a>
        </div>

        <div class="flex flex-wrap mt-4">
          <div *ngFor="let category of listing.categories" class="mr-2 mb-2 badge badge-outline border-primary">{{category}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
