<div class="card bg-base-100 shadow-xl my-6 mx-20 md:mx-10 lg:mx-20 rounded-xl transform
            transition duration-300 ease-in-out hover:scale-110 hover:bg-gray-800 cursor-pointer">
  <div class="flex flex-col md:flex-row">
    <figure class="md:w-1/3">
      <img class="h-56 w-full object-contain rounded-t-xl md:rounded-l-xl md:rounded-t-none md:rounded-r-xl" src="http://localhost:8080/get-image/{{listing.imageId}}" alt="game"/>
    </figure>

    <div class="flex-1 p-6">
      <div class="mb-4">
        <h2 class="text-2xl md:text-xl lg:text-2xl font-bold">{{listing.title}}</h2>
        <div class="text-base md:text-md overflow-y-auto max-h-32">
          {{listing.description}}
        </div>
      </div>
      <!-- Rest of your code -->



    <div class="flex flex-col md:flex-row md:justify-between items-center">
        <div class="text-xl md:text-lg lg:text-xl mb-4 md:mb-0">
          <p class="font-bold">{{listing.price}}€</p>
          <p>{{listing.seller}}</p>
        </div>

        <div class="flex flex-wrap mt-4">
          <div *ngFor="let category of listing.categories" class="mr-2 mb-2 badge badge-outline border-primary">{{category}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
