form {
  margin: 100px auto;
  align-content: center;
  width: fit-content;
  max-width: 90%;
}

mat-card-title {
  color: white;
  width: auto;
}

mat-card {
  margin-block: 50px;
}

mat-card-header{
  padding-bottom: 10px;

}

mat-icon{
  color: var(--mdc-filled-text-field-active-indicator-color);
}

.mat-mdc-card-content {
  display: flex;
  flex-direction: column;
}

mat-card-actions{
  flex-direction: column;
}

span{
  font-size: 15px;
  color: var(--mdc-filled-text-field-active-indicator-color);
  font-family: var(--mat-form-field-container-text-font);
}

a{
  color: white;
  text-decoration: none;
}

mat-panel-title{
  color: var(--mdc-filled-text-field-active-indicator-color);
}

mat-expansion-panel{
  margin-bottom: 10px;
}

input:invalid {
  color: red;
  caret-color: var(--mdc-filled-text-field-active-indicator-color);
}

input[type=file]:invalid {
  color: inherit;
}
