<div class="flex">
  <aside id="sidebar-multi-level-sidebar" class="left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="fixed h-full px-3 py-4 overflow-y-auto bg-gray-800">
      <ul class="space-y-2">
        <li>
          <p class="flex items-center p-2 group">
            <span class="ms-3">Category</span>
          </p>
        </li>

        <hr class="h-px my-1 bg-gray-700 border-0 ">

      <li *ngFor="let category of categories">
        <a routerLink="/listings/{{category}}/-/-/-" class="flex items-center p-2 rounded-lg hover:bg-primary group">
          <span class="ms-3">{{ category }}</span>
        </a>
      </li>

        <hr class="h-px my-1 bg-gray-700 border-0 ">

      </ul>
      <div>
        <input type="search" id="default-search" class="flex p-4 my-2 mt-5 ps-10 text-sm bg-gray-800 border rounded-lg border-gray-700 placeholder-gray-400 " placeholder="Search for your game..." required>
        <button type="submit" class="flex font-medium rounded-lg text-sm px-4 py-2 bg-primary hover:bg-secondary focus:ring-secondary">Search</button>
      </div>
    </div>
  </aside>
  <div class="">
    <app-game-cards></app-game-cards>
    <app-game-cards></app-game-cards>
  </div>


</div>

