.active {
  border: 2px solid rgb(123 31 162 / var(--tw-bg-opacity));
}

.active:hover {
  background-color: transparent;
  opacity: 0.5;
}

#listings-container {
  overflow: hidden;
  max-width: 80%;
}
