<!--<form (ngSubmit)="onSubmit()">
  <mat-card class="example-card">
    <mat-card-content>

      <mat-card-header>
        <mat-card-title>Sign Up</mat-card-title>
      </mat-card-header>

      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput name="username" [(ngModel)]="user.username">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" [(ngModel)]="user.password">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Repeat password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" name="password2" [(ngModel)]="repeatPassword">
        <mat-error *ngIf="!passwordsMatch()">
          The passwords are not matching
        </mat-error>
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-expansion-panel>

        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal data (optional)
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field>
          <mat-label>First name</mat-label>
          <input matInput name="firstName" [(ngModel)]="user.contactInfo.firstName">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Last name</mat-label>
          <input matInput name="lastName" [(ngModel)]="user.contactInfo.lastName">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput name="email" [(ngModel)]="user.contactInfo.email">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Phone number</mat-label>
          <input matInput name="phoneNumber" [(ngModel)]="user.contactInfo.phoneNumber">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput name="address" [(ngModel)]="user.contactInfo.address">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Postal code</mat-label>
          <input matInput name="postalCode" [(ngModel)]="user.contactInfo.postalCode">
        </mat-form-field>

      </mat-expansion-panel>

      <mat-card-actions>
        <button type="submit" mat-raised-button color="primary">Sign Up</button>
        <span>
          You already have an account?
          <a routerLink="/login">
            Log In here!
          </a>
        </span>
      </mat-card-actions>

    </mat-card-content>
  </mat-card>
</form>-->

<div class="flex items-center justify-center h-fit mt-20">
  <form (ngSubmit)="onSubmit()" class="bg-gray-800 shadow-xl rounded-xl p-6">
    <div class="w-full">

      <p class="text-xl font-bold text-center pb-2">Sign Up</p>

      <div class="w-full px-3 pb-3">
        <input
          type="text"
          id="username"
          name="username"
          placeholder="*Username"
          class="input hover:border-primary bg-[#2D394B] w-full max-w-xs p-2"
          required
          [(ngModel)]="user.username"
        />
      </div>

      <div class="w-full px-3 pb-3">
        <input
          type="password"
          id="password"
          name="password"
          placeholder="*Password"
          class="input hover:border-primary bg-[#2D394B] w-full max-w-xs p-2"
          required
          [(ngModel)]="user.password"
        />
      </div>

      <div class="w-full px-3 pb-3">
        <input
          type="password"
          id="passwordMatch"
          name="password"
          placeholder="*Password"
          class="input hover:border-primary bg-[#2D394B] w-full max-w-xs p-2"
          required
          [(ngModel)]="repeatPassword"
        />
        <div role="alert" *ngIf="!passwordsMatch()">
          <p class="text-red-500 text-xs pt-2">Your passwords are not matching.</p>
        </div>
      </div>

      <div class="flex font-bold justify-center items-center pb-2">
        <p class="text-lg">Contact info&nbsp;</p>
        <p class="text-sm">(optional)</p>
      </div>


      <div class="grid grid-cols-2">
        <div class="w-full px-3 pb-3">
          <input
            type="text"
            id="firstNameField"
            name="firstNameField"
            placeholder="First name"
            class="input hover:border-primary bg-[#2D394B] w-full max-w-xs p-2"
            required
            [(ngModel)]="user.contactInfo.firstName"
            #firstNameField="ngModel"
          />
        </div>

        <div class="w-full px-3 pb-3">
          <input
            type="text"
            id="lastNameField"
            name="lastNameField"
            placeholder="Last name"
            class="input hover:border-primary bg-[#2D394B] w-full max-w-xs p-2"
            required
            [(ngModel)]="user.contactInfo.lastName"
            #lastNameField="ngModel"
          />
        </div>

        <div class="w-full px-3 pb-3">
          <input
            type="email"
            id="emailField"
            name="emailField"
            placeholder="Email"
            class="input hover:border-primary bg-[#2D394B] w-full max-w-xs p-2"
            required
            [(ngModel)]="user.contactInfo.email"
            #emailField="ngModel"
          />
        </div>

        <div class="w-full px-3 pb-3">
          <input
            type="text"
            id="phoneNumberField"
            name="phoneNumberField"
            placeholder="Phone number"
            class="input hover:border-primary bg-[#2D394B] w-full max-w-xs p-2"
            required
            [(ngModel)]="user.contactInfo.phoneNumber"
            #phoneNumberField="ngModel"
          />
        </div>

        <div class="w-full px-3 pb-3">
          <input
            type="text"
            id="addressField"
            name="addressField"
            placeholder="Address"
            class="input hover:border-primary bg-[#2D394B] w-full max-w-xs p-2"
            required
            [(ngModel)]="user.contactInfo.address"
            #addressField="ngModel"
          />
        </div>

        <div class="w-full px-3 pb-3">
          <input
            type="number"
            id="postalCodeField"
            name="postalCodeField"
            placeholder="Postal code"
            class="input hover:border-primary bg-[#2D394B] w-full max-w-xs p-2"
            required
            [(ngModel)]="user.contactInfo.postalCode"
            #postalCodeField="ngModel"
          />
        </div>

      </div>

    <div>
      <button type="submit"
              class="text-white flex mx-auto bottom-2.5 font-medium rounded-lg text-sm px-4 py-2 bg-primary hover:bg-secondary focus:ring-secondary">
        Sign Up
      </button>
    </div>

      <span class="flex justify-center mx-auto mt-2">
        Already have an account? &nbsp;
        <a routerLink="/register">
          Log In here!
        </a>
      </span>
    </div>
  </form>
</div>
